@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

:root {
  --box-shadow: 0 1px 3px rgba(119, 15, 15, 0.905), 0 1px 2px rgba(171, 226, 17, 0.967);
}

* {
  box-sizing: border-box;
}

html, body{
  /* max-width: 100vh; */
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  margin-left: 0.1%;
  margin-right: 0.1%;
  margin-top: 0%;
  margin-bottom: 0%;
  overflow-x: hidden;
}
#root {
  /* background-color: #f7f7f7; */
  background-color: #85808036;
  color: #000;
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  height: auto;
  width: 100vw;
  margin: 0;
  font-family: 'Lato', sans-serif;
}

.container {
  width: 91%
}

.titulo-principal{
  display: flex;

  color: rgb(7, 4, 4);
  letter-spacing: 2px;
  font-weight: 700;
  font-stretch: 67%;
  color: #01017c;
  
  transform: skewX(45deg);
  transform: skewY(2deg);
  transform: scale(1, 1.7);

  padding-top: 1%;
  padding-bottom: 2%
}

.valorSaldo {
  letter-spacing: 4px;
  margin: 0;
  padding: 11px;
  color: #22d1e0;
  font-weight: 900;
}

h3 {
  border-bottom: 1px solid #bbb;
  padding-bottom: 10px;
  margin: 40px 0 10px;
}

h4 {
  margin: 0;
  text-transform: uppercase;
}

.inc-exp-container {
  background-color: #fff;
  box-shadow: var(--box-shadow);
  padding: 6%;
  display: flex;
  justify-content: space-between;
  /* margin: 20px 0; */
}

.inc-exp-container > div {
  flex: 1;
  text-align: center;
}

.inc-exp-container > div:first-of-type {
  border-right: 1px solid #dedede;
}

.money {
  font-size: 20px;
  letter-spacing: 1px;
  margin: 5px 0;
}

.money.plus {
  color: #2ecc71;
}

.money.minus {
  color: #c0392b;
}

label {
  display: inline-block;
  margin: 10px 0;
}

input[type='text'],
input[type='number'] {
  border: 1px solid #dedede;
  border-radius: 2px;
  display: block;
  font-size: 16px;
  padding: 10px;
  width: 100%;
}

.pai-btn{
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn {
  cursor: pointer;
  /* background-color: #2b2bc0; */
  background-color: #045dbd;
  box-shadow: var(--box-shadow);
  color: #fff;
  border: 0;
  /* display: block; */
  font-size: 16px;
  margin: 10px 0 30px;
  padding: 10px;
  
  width: 50%;
  letter-spacing: 0.23em;

}
.form-control small{
  transform: scale(4, 3);
}

.btn:focus,
.delete-btn:focus {
  outline: 0;
}

.transactions {
  list-style-type: none;
  padding: 0;
  margin-bottom: 40px;
}

.transactions li {
  background-color: #fff;
  box-shadow: var(--box-shadow);
  color: #333;
  display: flex;
  justify-content: space-between;
  position: relative;
  padding: 10px;
  margin: 10px 0;
}

.transactions li.plus {
  border-right: 5px solid #2ecc71;
}

.transactions li.minus {
  border-right: 5px solid #c0392b;
}

.delete-btn {
  cursor: pointer;
  background-color: #e49b13;
  border: 0;
  color: #fff;
  font-size: 20px;
  line-height: 120%;
  padding: 5px 8px;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(-100%, -50%);
  opacity: 0.21;
  transition: opacity 0.3s ease;
}

.transactions li:hover .delete-btn {
  opacity: 0.91;
  background-color: #940c2a;
}


.flex{
  display: flex;
}
.column{
  flex-direction: column;
}

.cifrao{
  font-size: 130%;
  color: #0e8792;
  letter-spacing: 1px;
  
}

.prencha-corretamente{
  font-size: 55%;
  letter-spacing: 1px;
  color: #c0392b;
  padding-top: 0;
  margin-top: 0;
  padding-bottom: 0;
  margin-bottom: 0;
}

@media only screen and (min-width:500px) and (max-width:619px) {
   .container {
    width: 80%;
    transition: width 2s ease;
  }
}
@media only screen and (min-width:620px) and (max-width:769px){
  .container {
    width: 70%;
    transition: width 2s ease;
  }
}

@media only screen and (min-width:770px) and (max-width:859px){
  .container {
    width: 62%;
    transition: width 2s ease;
  }
}

@media only screen and (min-width:860px) and (max-width:999px){
  .container {
    width: 55%;
    transition: width 2s ease;
  }
}

@media only screen and (min-width:1000px) and (max-width:1999px){
  .container {
    width: 48%;
    transition: width 2s ease;
  }
}

@media only screen and (min-width:2000px) and (max-width:3999px){
  .container {
    width: 42%;
    transition: width 2s ease;
  }
}


@media only screen and (min-width:100px) and (max-width:299px) {
  .container {
   width: 100%;
   transition: width 2s ease;
   
   display: flex;
   flex-direction: column;
   flex-wrap: wrap;
 }
 .inc-exp-container{
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
 }
 .form-control > input {
   display: flex;
   max-width: 200px ;
 }
}